body {
  background: #555;
  margin: 0;
  padding: 3rem;
  line-height: 1.4;
  font-family: 'Josefin Sans', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  color: #fff;
}
a {
  color:inherit;
  text-decoration: none;
}
a:hover {
  color: cadetblue;
}